@import "tailwindcss";
@plugin "daisyui";
.active{
    color:red;
    text-decoration: underline;
}
button:disabled {
  background-color: #22c55e !important; /* Tailwind green-500 */
  opacity: 1 !important;
  color: white !important;
  cursor: not-allowed !important;
}